body {
  background-color: f1f1f1;
}

.image-background {
  text-align: center;
  background: url('../images/workspace.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

.main-nav {
    width: 100%;
    background: black;
    min-height: 35px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }

  /* changes color of link when on hover */
  li a:hover {
    background-color: rgb(153, 150, 150);
    color: white;
    text-decoration: underline;
  }


  header {
    text-align: center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
  }

  header {
    line-height: 1.5;
  }

  header .photo-alter {
    margin-top: 1px;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    border: 5px solid white;
    transition: all .5s;
  }

header .photo-alter:hover {
    transform: scale(1.2) rotate(360deg);

}

.tag {
    background-color: #e2e2e2;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  } 


.html-card {
    background: rgb(82, 163, 201);
}

.css-card {
    background: rgb(204, 138, 14);
}

.js-card {
    background: rgb(168, 10, 10);
}

.padding-color {
    display: inline-block;
    color: white;
    border-radius: 7.5%;
    padding: 5px;
}