
body {
    margin-left: 20%;
    margin-right: 20%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    row-gap: 40px;
}

.center {
    place-items: center;
}

#search {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    min-width: 150px;
    width: 80%;
    height: 40px;
    margin-left: 100px
}

img {
    border: 5px dotted grey;
}