
body {
    margin-left: 20%;
    margin-right: 20%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    row-gap: 40px;
}

.center {
    place-items: center;
}

#search {
    display: block;
    margin: 50px auto;
    text-align: center;
    min-width: 175px;
    width: 55%;
    height: 40px;
}

img {
    border: 5px dotted grey;
}