* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; tried this element it fixed height but not width */
}

.brdr-top {
  border-top: 2px solid grey;
}

h2 {
  text-align: center;
}

h3 {
  padding-bottom: 15px;
}

.btn {
  font-size: 0.85em;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  background-color: #278da4;
  border-radius: 0.35em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
}

.btn:hover {
  background-color: rgba(39, 141, 164, 0.8);
}

section ul {
  padding: 25px;
}

.center {
  text-align: center;
}

div p {
  color: black;
  font-size: 1rem;
  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.title-padding {
  padding-top: 50px;
  padding-bottom: 75px;
}

footer {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.img-portfolio {
  width: 60%;
  height: 80%;
  margin: auto;
}

.img-social {
  width: 35px;
  height: 35px;
}

.img-social:hover {
  opacity: 0.7;
}

/*  below is a test media query to see if I like the new menus for a mobile look  */
