html,body{
  margin:0;
  padding:0;
}

.banner_div {
  background-image: url('../images/workspace.jpg');
  background-size: cover;
  position: absolute;
  width:100%;
  height:100%;
}

h1 {
  color: white;
}